---
const { title } = Astro.props;

const items = [{
	icon: '',
	name: 'Opcion 1'
},
{
	icon: '',
	name: 'Opcion 2'
},
{
	icon: '',
	name: 'Opcion 3'
}
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			Acá va el encabezado 
		</header>
		<div class="carrousel">
			Slider de imagenes
			
		</div>
		<nav>
			{
				items.map((item) => <a href="#" class="option">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2c-4.963 0-9 4.038-9 9v8h.051c.245 1.691 1.69 3 3.449 3 1.174 0 2.074-.417 2.672-1.174a3.99 3.99 0 0 0 5.668-.014c.601.762 1.504 1.188 2.66 1.188 1.93 0 3.5-1.57 3.5-3.5V11c0-4.962-4.037-9-9-9zm7 16.5c0 .827-.673 1.5-1.5 1.5-.449 0-1.5 0-1.5-2v-1h-2v1c0 1.103-.897 2-2 2s-2-.897-2-2v-1H8v1c0 1.845-.774 2-1.5 2-.827 0-1.5-.673-1.5-1.5V11c0-3.86 3.141-7 7-7s7 3.14 7 7v7.5z"></path><circle cx="9" cy="10" r="2"></circle><circle cx="15" cy="10" r="2"></circle></svg>
				{ item.name }
			</a>)
			}


			
		</nav>
		<div class="grid-container">
			<div class="area1">area1</div>
			<div class="area2">area2</div>
			<div class="area3">area3</div>
			<div class="area4">area4</div>

		</div>


		<slot />

	</body>
</html>
<style is:global>
	.grid-container{
		display: grid;
		grid-template-areas: 'area1 area1 area2 area3'
		                     'area1 area1 area2 area3'
		                     'area4 area4 area2 area4' ;
		                      
		                                   
	}

	.area1{
		grid-area: area1;
		background: powderblue;
	}
	.area2{
		grid-area: area2;
		background: palegoldenrod;
	}
	.area3{
		grid-area: area3;
		background: papayawhip;
		height: 60px;
	}
	.area4{
		grid-area: area4;
		background: palegoldenrod;

	}






	.option{
		text-decoration: none;
		display: flex;
		flex-direction: column;
		background: peachpuff;
		max-width: 120px;
		height: 100%;
		justify-content: center;
		align-items: center;
		transition: background 300ms ease-in-out;
		
		&:hover {
		background: purple; 
	    }
	}

	




	nav {
		background: plum;
		height: 60px;
		display: flex;
    }
	header{
		background: purple;
		height: 36px;
	}
	.carrousel{
		background: paleturquoise;
		height: 360px;
	}



	html body {
		padding: 0;
		margin: 0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
